/* .heroSection {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.imageLeft {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 600px;
    margin-left: 0;
    overflow: hidden;
}

.imageRight {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.textOverlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
}

.leftCol {
    display: flex;
    justify-content: flex-start;
}

.rightCol {
    display: flex;
    justify-content: flex-start;
} */